<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Test</title>
    <link rel="stylesheet" href="/styles/resets.css" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>

  <body>
    <header>
      <div class="">Logo</div>
      <div class="">navigation</div>
    </header>

    <main>
      <section>
        <div id="error"></div>
        <form
          method="POST"
          id="form"
          action="http://localhost:8081/valid"
          onsubmit="return Client.handleSubmit(event)"
        >
          <input
            id="name"
            type="text"
            name="input"
            onblur="onBlur()"
            required
            placeholder="Enter link to your article"
          />
          <input type="submit" name="" value="submit" />
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div id="sensitivity"></div>
        <div id="confidence"></div>
        <div id="score_tag"></div>
        <div id="agreement"></div>
        <div id="irony"></div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>
  <script>
    // Check that service workers are supported
    if ("serviceWorker" in navigator) {
      window.addEventListener("load", () => {
        navigator.serviceWorker
          .register("/service-worker.js")
          .then((registration) => {
            console.log("SW registered: ", registration);
          })
          .catch((registrationError) => {
            console.log("SW registration failed: ", registrationError);
          });
      });
    }
  </script>
</html>
